{% extends 'layouts/application.html.twig' %}

{% block content %}

  <div class="container">
    <h1>New post</h1>

    <form action="{{ path_for('posts.create') }}" method="post" autocomplete="off">
      <div class="input-wrapper">
        <label for="title">Title</label>
        <input type="text" name="title" id="title">
      </div>

      <div class="input-wrapper">
        <label for="body">Body</label>
        <textarea name="body" id="body" cols="30" rows="10"></textarea>
      </div>

      <button type="submit" class="button">Add post</button>
    </form>
  </div>

{% endblock %}